// "out": "../css/galerien.css", "sourcemap": "false", "compress": "true", "autoprefixer": "false"
@import "standard.less";

.cms_galerie_liste {
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid @schattierthell_background;
}

.cms_galerieuebersicht_liste li {
  padding: 0px;
  margin: 0px;
  border-top: 1px solid @schattierthell_background;
  list-style-type: none;
  display: block;
}

.cms_galerieuebersicht_liste .cms_galerielink {
  width: 100%;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 45px;
  position: relative;
  transition: 250ms ease-in-out;
  min-height: 70px;
}

.cms_galerieuebersicht_liste .cms_galerielink h3 {
  font-size: 110%;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: @standardabsatz_schulhof_margin;
}

.cms_galerieuebersicht_liste .cms_galerielink p,
.cms_galerieuebersicht_liste .cms_galerielink h3,
.cms_galerieuebersicht_liste .cms_galerielink span {
  color: #000000;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_notiz {margin-top: 0px;}
.cms_galerieuebersicht_liste .cms_galerielink p:last-child {margin-bottom: 0px;}

.cms_galerieuebersicht_liste .cms_galerielink:hover {
  background-color: @schattierthell_background;
}
.cms_galerieuebersicht_liste .cms_galerielink:hover .cms_button {
  background-color: @buttonhover_background;
  color: @buttonhover_color;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblaetter {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 32px;
  text-align: center;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt {
  display: inline-block;
  text-align: center;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt_i {
  display: inline-block;
  width: 32px;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt_monat,
.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt_tagnr,
.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt_tagbez {
  display: block;
  text-align: center;
  width: 100%;
  line-height: 1.2em !important;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt_monat {
  background: @themafarbe1;
  font-weight: bold;
  color: @standardschrifthell_color;
  font-size: 10px;
  border: 1px solid @schattierthell_background;
  border-bottom: none;
  padding: 2px 0px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt_tagnr {
  background: @standardhell_background;
  font-weight: normal;
  color: @themafarbe3;
  font-size: 18px;
  border-left: 1px solid @schattierthell_background;
  border-right: 1px solid @schattierthell_background;
  padding: 2px 0px;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt_tagbez {
  background: @standardhell_background;
  font-weight: normal;
  color: @themafarbe1;
  font-size: 10px;
  border: 1px solid @schattierthell_background;
  border-top: none;
  padding: 2px 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt_uhrzet {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 80%;
  line-height: 1.2em;
  padding: 5px 0px 0px 0px;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_galerielink_vorschaubild {
  float: right;
  margin-left: 5px;
  width: 30%;
}

.cms_galerieuebersicht_artikel {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}

.cms_optimierung_P .cms_galerieuebersicht_artikel li,
.cms_optimierung_T .cms_galerieuebersicht_artikel li {
  width: 50%;
}

.cms_optimierung_P .cms_galerieuebersicht_artikel li:nth-child(odd),
.cms_optimierung_T .cms_galerieuebersicht_artikel li:nth-child(odd) {
  border-right: 5px solid @standardhell_background;
}

.cms_optimierung_P .cms_galerieuebersicht_artikel li:nth-child(even),
.cms_optimierung_T .cms_galerieuebersicht_artikel li:nth-child(even) {
  border-left: 5px solid @standardhell_background;
}

.cms_optimierung_H .cms_galerieuebersicht_artikel li {
  width: 100%;
}

.cms_galerieuebersicht_artikel li {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  margin: 0px;
  //border-top: 1px solid @schattierthell_background;
  list-style-type: none;
  display: block;
}

.cms_galerieuebersicht_artikel .cms_galerielink {
  width: 100%;
  height: 100%;
  display: block;
  padding: 5px 10px;
  position: relative;
  transition: 250ms ease-in-out;
  border-top: 1px solid @schattierthell_background;
}

.cms_galerieuebersicht_artikel .cms_galerielink h3 {
  font-size: 110%;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: @standardabsatz_schulhof_margin;
}

.cms_galerieuebersicht_artikel .cms_galerielink p,
.cms_galerieuebersicht_artikel .cms_galerielink h3,
.cms_galerieuebersicht_artikel .cms_galerielink span {
  color: #000000;
}

.cms_galerieuebersicht_artikel .cms_galerielink .cms_notiz {margin-top: 0px;}
.cms_galerieuebersicht_artikel .cms_galerielink p:last-child {margin-bottom: 0px;}

.cms_galerieuebersicht_artikel .cms_galerielink:hover {
  background-color: @schattierthell_background;
}
.cms_galerieuebersicht_artikel .cms_galerielink:hover .cms_button {
  background-color: @buttonhover_background;
  color: @buttonhover_color;
}

.cms_galerieuebersicht_artikel .cms_galerielink .cms_galerielink_vorschaubild {
  width: 100%;
}

#cms_galeriebild_o {
  position: relative;
}

#cms_galeriebild_m {
  padding: 0px;
  margin: 0px;
}

#cms_galeriebild_m li {
  padding: 0px;
  margin: 0px;
  line-height: 0;
  width: 100%;
  float: left;
  margin-right: -100%;
  position: relative;
  opacity: 0;
  display: block;
  z-index: 1;
  transition: 1s ease-in-out;
  text-align: center;
}

#cms_galeriebild_m li img {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  max-height: 500px;
  display: inline-block;
}

.cms_galerie_unterschrift {
  width: 100%;
  padding: 5px;
}

.cms_galeriebilder_voriges, .cms_galeriebilder_naechstes {
  position: absolute;
  top: 0px;
  height: 100%;
  background-color: @schattierthell_background;
  display: block;
  color: @standardschriftdunkel_color;
  top: 0px;
  z-index: 4;
  width: auto;
  line-height: 100%;
  width: 20px;
  opacity: 0;
  transition: 250ms ease-in-out;
}

.cms_galeriebilder_voriges {left: 0px;}
.cms_galeriebilder_naechstes {right: 0px;}

.cms_galeriebilder_voriges:hover {
  background-color: @themafarbe1;
}

.cms_galeriebilder_naechstes:hover {
  background-color: @themafarbe1;
}

.cms_galeriebilder_voriges:hover, .cms_galeriebilder_naechstes:hover {
  opacity: 1 !important;
  cursor: pointer;
}

.cms_galeriebilder_wahl {
  position: absolute;
  text-align: center;
  top: 5px;
  left: 0px;
  width: 100%;
  z-index: 4;
  padding: 0px 25px 0px 25px;
  transition: 250ms ease-in-out;
}

.cms_galeriebilder_wahl span {
  background-color: @galerien_bildknopf_background;
  width: @galerien_bildknopf_width;
  height: @galerien_bildknopf_height;
  border-radius: 10px;
  display: inline-block;
  transition: 250ms ease-in-out;
  opacity: 0;
}

span.cms_galeriebild_knopf_aktiv {
  background-color: @galerien_bildknopfaktiv_background;
}

#cms_galeriebild_o:hover .cms_galeriebilder_voriges,
#cms_galeriebild_o:hover .cms_galeriebilder_naechstes,
#cms_galeriebild_o:hover .cms_galeriebild_knopf {opacity: .5;}

#cms_galeriebild_o:hover .cms_galeriebild_knopf_aktiv {opacity: 1 !important;}

.cms_galeriebilder_wahl span:hover {
  background-color: @galerien_bildknopfhover_background;
  opacity: 1 !important;
  cursor: pointer;
}
