// "out": "../css/galerien.css", "sourcemap": "false", "compress": "true", "autoprefixer": "false"
@import "standard.less";

.cms_galerie_liste {
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid @standardhell;
}

.cms_galerieuebersicht_liste li {
  padding: 0px;
  margin: 0px;
  border-top: 1px solid @standardhell;
  list-style-type: none;
  display: block;
}

.cms_galerieuebersicht_liste .cms_galerielink {
  width: 100%;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 45px;
  position: relative;
  transition: 250ms ease-in-out;
  min-height: 70px;
}

.cms_galerieuebersicht_liste .cms_galerielink h3 {
  font-size: 110%;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: @absatzabstand;
}

.cms_galerieuebersicht_liste .cms_galerielink p,
.cms_galerieuebersicht_liste .cms_galerielink h3,
.cms_galerieuebersicht_liste .cms_galerielink span {
  color: #000000;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_notiz {margin-top: 0px;}
.cms_galerieuebersicht_liste .cms_galerielink p:last-child {margin-bottom: 0px;}

.cms_galerieuebersicht_liste .cms_galerielink:hover {
  background-color: @standardhell;
}
.cms_galerieuebersicht_liste .cms_galerielink:hover .cms_button {
  background-color: @buttonh;
  color: @schriftbuttonh;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblaetter {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 32px;
  text-align: center;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt {
  display: inline-block;
  text-align: center;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt_i {
  display: inline-block;
  width: 32px;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt_monat,
.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt_tagnr,
.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt_tagbez {
  display: block;
  text-align: center;
  width: 100%;
  line-height: 1.2em !important;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt_monat {
  background: @themafarbe1;
  font-weight: bold;
  color: @schriftfarbehell;
  font-size: 10px;
  border: 1px solid @standardhell;
  border-bottom: none;
  padding: 2px 0px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt_tagnr {
  background: @hintergrundhell;
  font-weight: normal;
  color: @themafarbe3;
  font-size: 18px;
  border-left: 1px solid @standardhell;
  border-right: 1px solid @standardhell;
  padding: 2px 0px;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt_tagbez {
  background: @hintergrundhell;
  font-weight: normal;
  color: @themafarbe1;
  font-size: 10px;
  border: 1px solid @standardhell;
  border-top: none;
  padding: 2px 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_kalenderblatt_uhrzet {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 80%;
  line-height: 1.2em;
  padding: 5px 0px 0px 0px;
}

.cms_galerieuebersicht_liste .cms_galerielink .cms_galerielink_vorschaubild {
  float: right;
  margin-left: 5px;
  width: 30%;
}

.cms_galerieuebersicht_artikel {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}

.cms_optimierung_P .cms_galerieuebersicht_artikel li,
.cms_optimierung_T .cms_galerieuebersicht_artikel li {
  width: 50%;
}

.cms_optimierung_P .cms_galerieuebersicht_artikel li:nth-child(odd),
.cms_optimierung_T .cms_galerieuebersicht_artikel li:nth-child(odd) {
  border-right: 5px solid @hintergrundhell;
}

.cms_optimierung_P .cms_galerieuebersicht_artikel li:nth-child(even),
.cms_optimierung_T .cms_galerieuebersicht_artikel li:nth-child(even) {
  border-left: 5px solid @hintergrundhell;
}

.cms_optimierung_H .cms_galerieuebersicht_artikel li {
  width: 100%;
}

.cms_galerieuebersicht_artikel li {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  margin: 0px;
  //border-top: 1px solid @standardhell;
  list-style-type: none;
  display: block;
}

.cms_galerieuebersicht_artikel .cms_galerielink {
  width: 100%;
  height: 100%;
  display: block;
  padding: 5px 10px;
  position: relative;
  transition: 250ms ease-in-out;
  border-top: 1px solid @standardhell;
}

.cms_galerieuebersicht_artikel .cms_galerielink h3 {
  font-size: 110%;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: @absatzabstand;
}

.cms_galerieuebersicht_artikel .cms_galerielink p,
.cms_galerieuebersicht_artikel .cms_galerielink h3,
.cms_galerieuebersicht_artikel .cms_galerielink span {
  color: #000000;
}

.cms_galerieuebersicht_artikel .cms_galerielink .cms_notiz {margin-top: 0px;}
.cms_galerieuebersicht_artikel .cms_galerielink p:last-child {margin-bottom: 0px;}

.cms_galerieuebersicht_artikel .cms_galerielink:hover {
  background-color: @standardhell;
}
.cms_galerieuebersicht_artikel .cms_galerielink:hover .cms_button {
  background-color: @buttonh;
  color: @schriftbuttonh;
}

.cms_galerie_zusatzinfo {
  text-align: right;
}
@media (max-width: 999px) {
  .cms_galerie_zusatzinfo {
    text-align: center;
    h1 {
      margin-top: 0;
    }
  }
}
.cms_galerieuebersicht_artikel .cms_galerielink .cms_galerielink_vorschaubild {
  width: 100%;
}

#cms_galerie_bilder {
  margin: auto;
  margin-top: 25px;
  position: relative;
  .cms_galerie_bild {
    display: none;
    width: 100%;
    position: relative;
    text-align: center;
    .cms_galerie_beschreibung {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
      padding: 8px 12px;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      color: @schriftunscheinbar;
    }
    animation-name: cms_galerien_fade;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;

    &.cms_galerie_zeigen {
      display: block;
    }
  }

  #cms_galerie_next,
  #cms_galerie_vor,
  #cms_galerie_dots{
    display: none;
  }

  #cms_galerie_laden {
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }

  .cms_galerie_zeigen ~ #cms_galerie_laden {
    display: none;
  }

  .cms_galerie_zeigen ~ #cms_galerie_next,
  .cms_galerie_zeigen ~ #cms_galerie_vor {
    display: block;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: @schriftunscheinbar;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.4);
    width: auto;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 500ms ease;
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  #cms_galerie_vor {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #cms_galerie_next {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 0;
  }

  .cms_galerie_zeigen ~ #cms_galerie_dots {
    display: block;
    margin-top: 10px;
    text-align: center;
    .cms_galerie_dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      display: inline-block;
      transition: 500ms ease;
      &.cms_galerie_zeigen, &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }

}

@keyframes cms_galerien_fade {
  from {opacity: .8}
  to {opacity: 1}
}
