// out: ../css/gruppen.css, sourcemap: false, compress: true, autoprefixer: false
@import "standard.less";

.cms_uebersicht .cms_ersteller {
  color: @standarddunkel;
  display: none;
}

.cms_uebersicht .cms_blogeintrag:hover .cms_ersteller,
.cms_uebersicht tr:hover .cms_ersteller  {
  display: block;
}

.cms_blogeintrag, .cms_beschlusseintrag {
  padding-left: 5px !important;
  transition: 250ms ease-in-out;
  position: relative;
}

.cms_beschlusseintrag {
  padding-right: 26px !important;
  min-height: 45px;
}

.cms_blogeintrag:hover, .cms_beschlusseintrag:hover {
  cursor: pointer;
  background-color: @standardhell;
}

.cms_blogliste_details:hover {
  cursor: pointer;
}

.cms_blogeintrag p.cms_inhaltvorschau, .cms_beschlusseintrag p.cms_inhaltvorschau {
  margin-bottom: 0px;
}

.cms_beschluss_angenommen {color: @erfolgdunkel;}
.cms_beschluss_abgelehnt {color: @fehlerdunkel;}
.cms_beschluss_vertagt {color: @standarddunkel;}

.cms_beschlusseintrag p.cms_beschlussicons {
  margin: 0px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 16px;
}

.cms_beschluss_icon {
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
}

.cms_beschluss_icon:last-child {
  margin-bottom: 0px;
}

.cms_aktionen_uebersicht li > p {
  padding: 4px 5px 4px 5px;
  margin: 0px;
}

.cms_aktionen_uebersicht li .cms_beschlusseintrag {
  border-bottom: none !important;
}

.cms_aktionen_uebersicht li:last-child > p {
  border-bottom: 1px solid @standardhell;
}

.cms_gruppen_oeffentlich_art {
  padding: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline-block;
}

.cms_oe, .cms_in {
  display: block;
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
}

.cms_oe {background: @infohell;}
.cms_in {background: @warnunghell;}

.cms_beschluss {
  color: @schriftfarbedunkel;
  padding: 5px;
  margin-bottom: @absatzabstand;
  display: block;
  margin-bottom: @absatzabstand;
}

.cms_beschluss h4, .cms_beschluss p {
  display: block;
  width: 100%;
}

.cms_beschluss:hover {
  color: @schriftfarbedunkel;
  display: block;
}

.cms_beschluss_pro {
  border-left: 3px solid @erfolgdunkel;
  background: @erfolghell;
}

.cms_beschluss_contra {
  border-left: 3px solid @fehlerdunkel;
  background: @fehlerhell;
}

.cms_beschluss_enthaltung {
  border-left: 3px solid @standarddunkel;
  background: @standardhell;
}

.cms_beschluss_stimmen {
  font-size: 80%;
  margin-bottom: 0px;
}

.cms_beschluss_stimmen_pro {background: @erfolgdunkel;}
.cms_beschluss_stimmen_contra {background: @fehlerdunkel;}
.cms_beschluss_stimmen_enthaltung {background: @standarddunkel;}

.cms_beschluss_stimmen_pro, .cms_beschluss_stimmen_contra, .cms_beschluss_stimmen_enthaltung, .cms_beschluss_langfristig {
  display: inline-block;
  padding: 2px 7px;
  font-weight: bold;
  color: @schriftfarbehell;
  text-align: center;
  min-width: 25px;
}

.cms_beschluss_stimmen_pro {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.cms_beschluss_stimmen_contra {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.cms_beschluss_langfristig {
  margin-left: 10px;
  border-radius: 7px;
  color: @schriftfarbedunkel;
  background: @hintergrundhell;
}

.cms_beschlussuebersicht_jahr {
  display: flex;
}

.cms_beschlussuebersicht_jahr .cms_beschluss {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  border-right: 10px solid @hintergrundhell;
}
