// "out": "../css/icons.css", "sourcemap": "false", "compress": "true", "autoprefixer": "false"
@import "standard.less";

/* POSTFACH */
.cms_uebersicht_nutzerkonto_nachricht {background-image: url("../res/icons/gross/nachricht.png");}
.cms_uebersicht_postfach_schreiben {background-image: url("../res/icons/gross/postschreiben.png");}
.cms_uebersicht_postfach_eingang {background-image: url("../res/icons/gross/posteingang.png");}
.cms_uebersicht_postfach_ausgang {background-image: url("../res/icons/gross/postausgang.png");}
.cms_uebersicht_postfach_entwurf {background-image: url("../res/icons/gross/postentwurf.png");}
.cms_uebersicht_postfach_papierkorb {background-image: url("../res/icons/gross/papierkorb.png");}
.cms_uebersicht_postfach_tags {background-image: url("../res/icons/gross/tag.png");}
.cms_uebersicht_postfach_signatur {background-image: url("../res/icons/gross/signatur.png");}
.cms_uebersicht_postfach_einstellungen {background-image: url("../res/icons/gross/einstellungen.png");}
.cms_button_vollbild_oeffnen {background-image: url("../res/icons/gross/vollbild.png");}
.cms_button_vollbild_schliessen {background-image: url("../res/icons/gross/inseite.png");}
#cms_button_postfach_versenden {background-image: url("../res/icons/gross/postfach_senden.png");}
#cms_button_postfach_speichern {background-image: url("../res/icons/gross/postfach_speichern.png");}
#cms_button_postfach_anhang {background-image: url("../res/icons/gross/postfach_anhang.png");}
#cms_button_postfach_papierkorb {background-image: url("../res/icons/gross/postfach_paierkorb.png");}
#cms_button_postfach_loeschen {background-image: url("../res/icons/gross/postfach_loeschen.png");}
#cms_button_postfach_zuruecklegen {background-image: url("../res/icons/gross/postfach_zuruecklegen.png");}
#cms_button_postfach_weiterleiten {background-image: url("../res/icons/gross/postfach_weiterleiten.png");}
#cms_button_postfach_antworten {background-image: url("../res/icons/gross/postfach_antworten.png");}
#cms_button_postfach_allenantworten {background-image: url("../res/icons/gross/postfach_allenantworten.png");}
#cms_button_postfach_erneutsenden {background-image: url("../res/icons/gross/postfach_erneut.png");}
#cms_button_postfach_bearbeiten {background-image: url("../res/icons/gross/postfach_bearbeiten.png");}

/* WEBSITE */
#cms_button_website_bearbeitungsmodus {background-image: url("../res/icons/gross/bearbeitungsmodus.png");}
#cms_button_website_betrachtungsmodus {background-image: url("../res/icons/gross/betrachtungsmodus.png");}
#cms_button_website_altedaten {background-image: url("../res/icons/gross/datenbank_schwarz.png");}
#cms_button_website_element_altedaten {background-image: url("../res/icons/gross/datenbank_schwarz.png");}
#cms_button_website_aktuelledaten {background-image: url("../res/icons/gross/datenbank_blau.png");}
#cms_button_website_element_aktuelledaten {background-image: url("../res/icons/gross/datenbank_blau.png");}
#cms_button_website_neuedaten {background-image: url("../res/icons/gross/datenbank_gruen.png");}
#cms_button_website_element_neuedaten {background-image: url("../res/icons/gross/datenbank_gruen.png");}
.cms_button_website_dateien {background-image: url("../res/icons/gross/webdateien.png");}
.cms_button_website_schliessen {background-image: url("../res/icons/gross/menueschliessen.png");}
.cms_button_website_editor {background-image: url("../res/icons/gross/editor.png");}
.cms_button_website_download {background-image: url("../res/icons/gross/downloadson.png");}
.cms_button_website_boxen {background-image: url("../res/icons/gross/boxen.png");}
.cms_button_website_eventuebersicht {background-image: url("../res/icons/gross/eventuebersicht.png");}
.cms_button_website_kontaktformular {background-image: url("../res/icons/gross/kontaktformular.png");}
.cms_button_website_newsletter {background-image: url("../res/icons/gross/newsletter.png");}
.cms_button_website_bearbeiten {background-image: url("../res/icons/gross/bearbeiten.png");}
.cms_button_website_loeschen {background-image: url("../res/icons/gross/loeschen.png");}
.cms_button_website_freigeben {background-image: url("../res/icons/gross/freigeben.png");}
.cms_button_website_ablehnen {background-image: url("../res/icons/gross/ablehnen.png");}
.cms_button_website_aktivieren {background-image: url("../res/icons/gross/aktivieren.png");}

/* SCHULJAHRFABRIK */
.cms_schuljahrfabrik_grundlagen {background-image: url("../res/icons/gross/sjfgrundlagen.png");}
.cms_schuljahrfabrik_profile {background-image: url("../res/icons/gross/sjfprofile.png");}
.cms_schuljahrfabrik_klassenkurse {background-image: url("../res/icons/gross/sjfklassenkurse.png");}
.cms_schuljahrfabrik_stufenkurse {background-image: url("../res/icons/gross/sjfstufenkurse.png");}
.cms_schuljahrfabrik_gruppenschueler {background-image: url("../res/icons/gross/sjfschueleringruppen.png");}
.cms_schuljahrfabrik_kurspersonen {background-image: url("../res/icons/gross/sjfpersoneninkursen.png");}
.cms_schuljahrfabrik_lehrauftraege {background-image: url("../res/icons/gross/sjflehrauftraege.png");}
.cms_schuljahrfabrik_stundenplanung {background-image: url("../res/icons/gross/sjfstundenplanung.png");}

.cms_tag_gross {
	border: 1px solid @standardhell;
	border-radius: 8px;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 5px;
	line-height: 0px;
	position: relative;
	bottom: -2px;
}

.cms_tag_klein {
	border-radius: 4px;
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 2px;
	line-height: 0px;
	position: relative;
	bottom: -1px;
}

.cms_farbbeispiel_0  {background-color: #3E2723 !important;}
.cms_farbbeispiel_1  {background-color: #795548 !important;}
.cms_farbbeispiel_2  {background-color: #263238 !important;}
.cms_farbbeispiel_3  {background-color: #607D8B !important;}
.cms_farbbeispiel_4  {background-color: #131418 !important;}
.cms_farbbeispiel_5  {background-color: #212121 !important;}
.cms_farbbeispiel_6  {background-color: #424242 !important;}
.cms_farbbeispiel_7  {background-color: #616161 !important;}
.cms_farbbeispiel_8  {background-color: #757575 !important;}
.cms_farbbeispiel_9  {background-color: #9E9E9E !important;}
.cms_farbbeispiel_10 {background-color: #BDBDBD !important;}
.cms_farbbeispiel_11 {background-color: #E0E0E0 !important;}
.cms_farbbeispiel_12 {background-color: #EEEEEE !important;}
.cms_farbbeispiel_13 {background-color: #F5F5F5 !important;}
.cms_farbbeispiel_14 {background-color: #FAFAFA !important;}
.cms_farbbeispiel_15 {background-color: #EBEBEB !important;}

// 800
.cms_farbbeispiel_16 {background-color: #c62828 !important;}
.cms_farbbeispiel_17 {background-color: #AD1457 !important;}
.cms_farbbeispiel_18 {background-color: #6A1B9A !important;}
.cms_farbbeispiel_19 {background-color: #4527A0 !important;}
.cms_farbbeispiel_20 {background-color: #283593 !important;}
.cms_farbbeispiel_21 {background-color: #1565C0 !important;}
.cms_farbbeispiel_22 {background-color: #0277BD !important;}
.cms_farbbeispiel_23 {background-color: #00838F !important;}
.cms_farbbeispiel_24 {background-color: #00695C !important;}
.cms_farbbeispiel_25 {background-color: #2E7D32 !important;}
.cms_farbbeispiel_26 {background-color: #558B2F !important;}
.cms_farbbeispiel_27 {background-color: #9E9D24 !important;}
.cms_farbbeispiel_28 {background-color: #F9A825 !important;}
.cms_farbbeispiel_29 {background-color: #FF8F00 !important;}
.cms_farbbeispiel_30 {background-color: #EF6C00 !important;}
.cms_farbbeispiel_31 {background-color: #D84315 !important;}

// 500
.cms_farbbeispiel_32 {background-color: #f44336 !important;}
.cms_farbbeispiel_33 {background-color: #E91E63 !important;}
.cms_farbbeispiel_34 {background-color: #9C27B0 !important;}
.cms_farbbeispiel_35 {background-color: #673AB7 !important;}
.cms_farbbeispiel_36 {background-color: #3F51B5 !important;}
.cms_farbbeispiel_37 {background-color: #2196F3 !important;}
.cms_farbbeispiel_38 {background-color: #03A9F4 !important;}
.cms_farbbeispiel_39 {background-color: #00BCD4 !important;}
.cms_farbbeispiel_40 {background-color: #009688 !important;}
.cms_farbbeispiel_41 {background-color: #4CAF50 !important;}
.cms_farbbeispiel_42 {background-color: #8BC34A !important;}
.cms_farbbeispiel_43 {background-color: #CDDC39 !important;}
.cms_farbbeispiel_44 {background-color: #FFEB3B !important;}
.cms_farbbeispiel_45 {background-color: #FFC107 !important;}
.cms_farbbeispiel_46 {background-color: #FF9800 !important;}
.cms_farbbeispiel_47 {background-color: #FF5722 !important;}

// 200
.cms_farbbeispiel_48 {background-color: #ef9a9a !important;}
.cms_farbbeispiel_49 {background-color: #F48FB1 !important;}
.cms_farbbeispiel_50 {background-color: #CE93D8 !important;}
.cms_farbbeispiel_51 {background-color: #B39DDB !important;}
.cms_farbbeispiel_52 {background-color: #9FA8DA !important;}
.cms_farbbeispiel_53 {background-color: #90CAF9 !important;}
.cms_farbbeispiel_54 {background-color: #81D4FA !important;}
.cms_farbbeispiel_55 {background-color: #80DEEA !important;}
.cms_farbbeispiel_56 {background-color: #80CBC4 !important;}
.cms_farbbeispiel_57 {background-color: #A5D6A7 !important;}
.cms_farbbeispiel_58 {background-color: #C5E1A5 !important;}
.cms_farbbeispiel_59 {background-color: #E6EE9C !important;}
.cms_farbbeispiel_60 {background-color: #FFF59D !important;}
.cms_farbbeispiel_61 {background-color: #FFE082 !important;}
.cms_farbbeispiel_62 {background-color: #FFCC80 !important;}
.cms_farbbeispiel_63 {background-color: #FFAB91 !important;}

.cms_box_style_1 			{background-color: @hintergrundhell;}
.cms_box_style_2 			{background-color: @standardhell;}
.cms_box_style_3 			{background-color: @themafarbe1;}
.cms_box_style_4 			{background-color: @themafarbe2;}
.cms_box_style_5 			{background-color: @themafarbe3;}

.cms_icon_klein_o {
  line-height: 0px;
  position: relative;
  overflow: visible;
	display: inline-block;
	top: 3px;
}

/* VERWALTUNGSBEREICH */
.cms_uebersicht_verwaltung_personen {background-image: url("../res/icons/gross/personen.png");}
.cms_uebersicht_verwaltung_rollen {background-image: url("../res/icons/gross/rollen.png");}
.cms_uebersicht_verwaltung_schuljahre {background-image: url("../res/icons/gross/schuljahre.png");}
.cms_uebersicht_verwaltung_raeume {background-image: url("../res/icons/gross/raeume.png");}
.cms_uebersicht_verwaltung_faecher {background-image: url("../res/icons/gross/faecher.png");}
.cms_uebersicht_verwaltung_ferien {background-image: url("../res/icons/gross/ferien.png");}
.cms_uebersicht_verwaltung_termine {background-image: url("../res/icons/gross/termine.png");}
.cms_uebersicht_verwaltung_schulnetze {background-image: url("../res/icons/gross/schulnetze.png");}
.cms_uebersicht_verwaltung_vpn {background-image: url("../res/icons/gross/vpn.png");}
.cms_uebersicht_verwaltung_zulaessig {background-image: url("../res/icons/gross/zulaessig.png");}
.cms_uebersicht_verwaltung_schuldetails {background-image: url("../res/icons/gross/schuldetails.png");}
.cms_uebersicht_verwaltung_geraetearten {background-image: url("../res/icons/gross/geraetearten.png");}
.cms_uebersicht_verwaltung_leihgeraete {background-image: url("../res/icons/gross/leihgeraete.png");}
.cms_uebersicht_verwaltung_allgemeine_einstellungen {background-image: url("../res/icons/gross/allgemeineeinstellungen.png");}
.cms_uebersicht_verwaltung_stundenplanung {background-image: url("../res/icons/gross/stundenplanung.png");}
.cms_uebersicht_verwaltung_vertretungsplanung {background-image: url("../res/icons/gross/vertretungsplanung.png");}
.cms_uebersicht_verwaltung_schulanmeldung {background-image: url("../res/icons/gross/schulanmeldung.png");}
.cms_uebersicht_verwaltung_genehmigungen_blogeintraege {background-image: url("../res/icons/gross/bloggenehmigt.png");}
.cms_uebersicht_verwaltung_genehmigungen_termine {background-image: url("../res/icons/gross/terminegenehmigt.png");}
.cms_uebersicht_verwaltung_genehmigungen_galerien {background-image: url("../res/icons/gross/galeriengenehmigt.png");}
.cms_uebersicht_verwaltung_dauerbrenner {background-image: url("../res/icons/gross/dauerbrenner.png");}
.cms_uebersicht_verwaltung_pinnwaende {background-image: url("../res/icons/gross/pinnwaende.png");}

.cms_uebersicht_verwaltung_gruppen_gremien {background-image: url("../res/icons/gross/gremien.png");}
.cms_uebersicht_verwaltung_gruppen_fachschaften {background-image: url("../res/icons/gross/fachschaften.png");}
.cms_uebersicht_verwaltung_gruppen_klassen {background-image: url("../res/icons/gross/klassen.png");}
.cms_uebersicht_verwaltung_gruppen_kurse {background-image: url("../res/icons/gross/kurse.png");}
.cms_uebersicht_verwaltung_gruppen_klassenstufen {background-image: url("../res/icons/gross/stufen.png");}
.cms_uebersicht_verwaltung_gruppen_ags {background-image: url("../res/icons/gross/arbeitsgemeinschaften.png");}
.cms_uebersicht_verwaltung_gruppen_aks {background-image: url("../res/icons/gross/arbeitskreise.png");}
.cms_uebersicht_verwaltung_gruppen_fahrten {background-image: url("../res/icons/gross/fahrten.png");}
.cms_uebersicht_verwaltung_gruppen_wettbewerbe {background-image: url("../res/icons/gross/wettbewerbe.png");}
.cms_uebersicht_verwaltung_gruppen_ereignisse {background-image: url("../res/icons/gross/ereignisse.png");}
.cms_uebersicht_verwaltung_gruppen_sonstige {background-image: url("../res/icons/gross/sonstige_gruppen.png");}

.cms_uebersicht_verwaltung_planung_zeitraeume {background-image: url("../res/icons/gross/stundenplanzeitraeume.png");}
.cms_uebersicht_verwaltung_planung_profile {background-image: url("../res/icons/gross/profile.png");}
.cms_uebersicht_verwaltung_planung_schienen {background-image: url("../res/icons/gross/schienen.png");}
.cms_uebersicht_verwaltung_planung_stundenplanung {background-image: url("../res/icons/gross/stundenplanung.png");}
.cms_uebersicht_verwaltung_planung_vertretungsplanung {background-image: url("../res/icons/gross/vertretungsplanung.png");}
.cms_uebersicht_verwaltung_planung_ausplanung {background-image: url("../res/icons/gross/ausplanung.png");}
.cms_uebersicht_verwaltung_planung_schuljahrfabrik {background-image: url("../res/icons/gross/schuljahrfabrik.png");}
.cms_uebersicht_verwaltung_planung_stundenerzeugen {background-image: url("../res/icons/gross/stundenerzeugen.png");}

.cms_uebersicht_verwaltung_website_seiten {background-image: url("../res/icons/gross/seiten.png");}
.cms_uebersicht_verwaltung_website_hauptnavigationen {background-image: url("../res/icons/gross/hauptnavigationen.png");}
.cms_uebersicht_verwaltung_website_dateien {background-image: url("../res/icons/gross/webdateien.png");}
.cms_uebersicht_verwaltung_website_blog {background-image: url("../res/icons/gross/blog.png");}
.cms_uebersicht_verwaltung_website_termine {background-image: url("../res/icons/gross/termine.png");}
.cms_uebersicht_verwaltung_website_galerien {background-image: url("../res/icons/gross/galerien.png");}
.cms_uebersicht_verwaltung_website_titelbilder {background-image: url("../res/icons/gross/titelbilder.png");}
.cms_uebersicht_verwaltung_website_besucherstatistik {background-image: url("../res/icons/gross/besucherstatistiken.png");}
.cms_uebersicht_verwaltung_website_fehlermeldungen {background-image: url("../res/icons/gross/fehlermeldungen.png");}
.cms_uebersicht_verwaltung_website_feedback {background-image: url("../res/icons/gross/feedback.png");}
.cms_uebersicht_verwaltung_website_auffaellig  {background-image: url("../res/icons/gross/auffaellig.png");}
.cms_uebersicht_verwaltung_website_emoticons  {background-image: url("../res/icons/gross/emoticons.png");}
.cms_uebersicht_verwaltung_website_chatmeldungen  {background-image: url("../res/icons/gross/chatmeldungen.png");}
.cms_uebersicht_verwaltung_website_newsletter  {background-image: url("../res/icons/gross/newsletter.png");}

.cms_uebersicht_verwaltung_technik_geraete {background-image: url("../res/icons/gross/geraete.png");}
.cms_uebersicht_verwaltung_technik_hausmeister {background-image: url("../res/icons/gross/hausmeister.png");}
.cms_uebersicht_verwaltung_technik_haustechnik {background-image: url("../res/icons/gross/haustechnik.png");}


/* GRUPPEN */
.cms_beschlussliste_abgelehnt {background-image: url("../res/icons/gross/rot.png");}
.cms_beschlussliste_angenommen {background-image: url("../res/icons/gross/gruen.png");}
.cms_beschlussliste_vertagt {background-image: url("../res/icons/gross/weiss.png");}


.cms_spalte_icon .cms_kategorie_icon_anzeige {
  position: absolute;
  right: 10px;
  top: 10px;
}
