// "out": "../css/kalender.css", "sourcemap": "false", "compress": "true", "autoprefixer": "false"
@import "standard.less";

.cms_kalenderuebersicht {
  width: 100%;
}

.cms_kalenderuebersicht th, .cms_kalenderuebersicht td {
  width: 12.5%;
  text-align: center;
}

.cms_kalender_kw, .cms_kalender_tag {font-weight: bold; padding: 6px 0px 5px 0px;}
.cms_kalender_kw {color: @schattierthell_abstufung2;}

.cms_kalender_kwzahl, .cms_kalender_tagzahl {font-weight: normal;}
.cms_kalender_kwzahl {color: @schattierthell_abstufung2;}

.cms_kalenderzahl {
  color: @standardschrifthell_positiv;
  padding: 6px 0px 5px 0px;
  border-radius: 7px;
  text-align: center;
  display: inline-block;
  width: 100%;
  border: 3px solid @standardhell_background;
  line-height: 1;
}

.cms_kalenderzahl:hover {
  border: 3px solid @schattierthell_abstufung2;
  color: @standardschrifthell_positiv;
}

.cms_kalenderzahl_heute {border: 3px solid @fehlerdunkel;}
.cms_kalenderzahl_gewaehlt {background: @infohell !important;}
.cms_kalenderzahl_persoenlich {background: @fehlerhell;}
.cms_kalenderzahl_oeffentlich {background: @warnunghell;}
.cms_kalenderzahl_ferien {background: @erfolghell;}
.cms_kalenderzahl_sichtbar {background: @schattierthell_abstufung1;}



// DARKMODE
@media (prefers-color-scheme: dark) {
  .cms_kalender_kw {color: @schattiertdunkel_abstufung2;}

  .cms_kalender_kwzahl {color: @schattiertdunkel_abstufung2;}

  .cms_kalenderzahl {
    color: @standardschriftdunkel_positiv;
    border: 3px solid @standarddunkel_background;
  }

  .cms_kalenderzahl:hover {
    border: 3px solid @schattiertdunkel_abstufung2;
    color: @standardschriftdunkel_positiv;
  }

  .cms_kalenderzahl_heute {border: 3px solid @fehlerhell;}
  .cms_kalenderzahl_gewaehlt {background: @infodunkel !important;}
  .cms_kalenderzahl_persoenlich {background: @fehlerdunkel;}
  .cms_kalenderzahl_oeffentlich {background: @warnungdunkel;}
  .cms_kalenderzahl_ferien {background: @erfolgdunkel;}
  .cms_kalenderzahl_sichtbar {background: @schattiertdunkel_abstufung1;}
}
