// out: ../css/kalender.css, sourcemap: false, compress: true, autoprefixer: false
@import "standard.less";

.cms_kalenderuebersicht {
  width: 100%;
}

.cms_kalenderuebersicht th, .cms_kalenderuebersicht td {
  width: 12.5%;
  text-align: center;
}

.cms_kalender_kw, .cms_kalender_tag {font-weight: bold; padding: 6px 0px 5px 0px;}
.cms_kalender_kw {color: @standarddunkel;}

.cms_kalender_kwzahl, .cms_kalender_tagzahl {font-weight: normal;}
.cms_kalender_kwzahl {color: @standarddunkel;}

.cms_kalenderzahl {
  color: @schriftfarbedunkel;
  padding: 6px 0px 5px 0px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  width: 100%;
  border: 3px solid @hintergrundhell;
  line-height: 1;
}

.cms_kalenderzahl:hover {
  border: 3px solid @standarddunkel;
  color: @schriftfarbedunkel;
}

.cms_kalenderzahl_heute {border: 3px solid @fehlerdunkel;}
.cms_kalenderzahl_gewaehlt {background: @infohell !important;}
.cms_kalenderzahl_persoenlich {background: @fehlerhell;}
.cms_kalenderzahl_oeffentlich {background: @warnunghell;}
.cms_kalenderzahl_ferien {background: @erfolghell;}
.cms_kalenderzahl_sichtbar {background: @standardhell;}
