// "out": "../css/links.css", "sourcemap": "false", "compress": "true", "autoprefixer": "false"
@import "standard.less";

a, .cms_link {
  font-size: inherit;
  text-decoration: none;
  color: @schriftlink;
  transition: 500ms ease-in-out;
  display: inline-block;
}

a:hover, .cms_link:hover {
  color: @schriftlinkh;
  display: inline-block;
  cursor: pointer;
}

.cms_notiz a:hover {
  color: @schriftbuttonfusszeileh !important;
  display: inline-block;
}

.cms_brotkrumen {
  color: @schriftunscheinbar;
  font-size: 80%;
}
