// "out": "../css/links.css", "sourcemap": "false", "compress": "true", "autoprefixer": "false"
@import "standard.less";

a, .cms_link {
  font-size: inherit;
  text-decoration: none;
  color: @schriftlink;
  transition: 500ms ease-in-out;
  display: inline-block;
}

a:hover, .cms_link:hover {
  color: @schriftlinkh;
  display: inline-block;
  cursor: pointer;
}

.cms_notiz a:hover {
  color: @schriftbuttonfusszeileh !important;
  display: inline-block;
}

.cms_brotkrumen {
  color: @schriftunscheinbar;
  font-size: 80%;
}

.cms_favorisieren {
  display: inline-block;
  float: right;
  text-align: right;
  position: relative;
  font-size: @schriftgroesse !important;
}

.cms_favorisieren .cms_favorit_bezeichnung {
  position: absolute;
  right: 0px;
  display: inline-block;
  transition: all 0.3s linear;
  width: 200px;
  background: @hinweisehintergrund;
  padding: 3px;
  border-radius: @hinweiseradius;
  padding: 0px 3px 0px 3px;
  height: 0px;
  overflow: hidden;
}

.cms_favorisieren .cms_favorit_bezeichnung input {
  width: 100px;
}

.cms_favorisieren img:hover {
  cursor: pointer;
}

.cms_favorisieren:hover .cms_favorit_bezeichnung {
  padding: 3px;
  height: auto;
}
