// "out": "../css/meldungen.css", "sourcemap": "false", "compress": "true", "autoprefixer": "false"
@import "standard.less";

.cms_meldung {
	background-color: @schattierthell_abstufung1;
	background-image: url('../res/icons/gross/information.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
	border: 1px solid @schattierthell_abstufung2;
	border-radius: 5px;
	padding: 5px 5px 5px 47px;
	margin: 10px 0px;
	min-height: 42px;
	text-align: left !important;
}

.cms_meldung:first-child {
	margin-top: 0px !important;
}

.cms_meldung_laden {
	background-color: @standardhell_background;
	border: 3px dashed @schattierthell_abstufung1;
	border-radius: 5px;
	padding: 5px;
	margin: 10px 0px;
	text-align: center;
	color: @schattierthell_abstufung2;
}

.cms_meldung_info {
	background-color: @infohell;
	border-color: @infodunkel;
	background-image: url('../res/icons/gross/information.png');
}

.cms_meldung_vplan {
	background-color: @schattierthell_abstufung1;
	border-color: @schattierthell_abstufung2;
	background-image: url('../res/icons/gross/vertretungsplanung.png');
}

.cms_meldung_erfolg {
	background-color: @erfolghell;
	border-color: @erfolgdunkel;
	background-image: url('../res/icons/gross/erfolg.png');
}

.cms_meldung_fehler {
	background-color: @fehlerhell;
	border-color: @fehlerdunkel;
	background-image: url('../res/icons/gross/fehler.png');
}

.cms_meldung_warnung {
	background-color: @warnunghell;
	border-color: @warnungdunkel;
	background-image: url('../res/icons/gross/warnung.png');
}

.cms_meldung_bauarbeiten {
	background-color: @warnunghell;
	border-color: @warnungdunkel;
	background-image: url('../res/icons/gross/bauarbeiten.png');
}

.cms_meldung_firewall {
	background-color: @infohell;
	border-color: @infodunkel;
	background-image: url('../res/icons/gross/firewall.png');
}

.cms_gesichertedaten {
	font-family: inherit;
	background-color: @standardhell_background;
	border: 2px dashed @schattierthell_abstufung2;
	border-radius: 5px;
	padding: 5px;
	margin: 10px 0px;
}

.cms_geschuetzerinhalt {
	font-family: inherit;
	background-color: @standardhell_background;
	color: @schattierthell_abstufung2;
	border: 2px dashed @fehlerhell;
	border-radius: 5px;
	padding: 5px;
	margin: 10px 0px;
}

.cms_geschuetzerinhalt p, .cms_ladebox {
	color: @schattierthell_abstufung2;
	text-align: center;
}

.cms_ladebox {
	border: 2px dashed @schattierthell_abstufung2;
	border-radius: 5px;
	padding: 10px;
}

.cms_systemvoraussetzung {
	background: @schattierthell_abstufung1;
	border-radius: 5px;
}

.cms_systemvoraussetzung li {
	width:100%;
	padding: 10px;
	text-align: center;
	margin: 0px;
	list-style-type: none;
}


// DARKMODE
@media (prefers-color-scheme: dark) {
	.cms_meldung {
		background-color: @schattiertdunkel_abstufung1;
		border: 1px solid @schattiertdunkel_abstufung2;
	}

	.cms_meldung_laden {
		background-color: @standarddunkel_background;
		border: 3px dashed @schattiertdunkel_abstufung1;
		color: @schattiertdunkel_abstufung2;
	}

	.cms_meldung_info {
		background-color: @infodunkel;
		border-color: @infohell;
	}

	.cms_meldung_vplan {
		background-color: @schattiertdunkel_abstufung1;
		border-color: @schattiertdunkel_abstufung2;
	}

	.cms_meldung_erfolg {
		background-color: @erfolgdunkel;
		border-color: @erfolghell;
	}

	.cms_meldung_fehler {
		background-color: @fehlerdunkel;
		border-color: @fehlerhell;
	}

	.cms_meldung_warnung {
		background-color: @warnungdunkel;
		border-color: @warnunghell;
	}

	.cms_meldung_bauarbeiten {
		background-color: @warnungdunkel;
		border-color: @warnunghell;
	}

	.cms_meldung_firewall {
		background-color: @infodunkel;
		border-color: @infohell;
	}

	.cms_gesichertedaten {
		font-family: inherit;
		background-color: @standarddunkel_background;
		border: 2px dashed @schattiertdunkel_abstufung2;
	}

	.cms_geschuetzerinhalt {
		font-family: inherit;
		background-color: @standarddunkel_background;
		color: @schattiertdunkel_abstufung2;
		border: 2px dashed @fehlerdunkel;
	}

	.cms_geschuetzerinhalt p, .cms_ladebox {
		color: @schattiertdunkel_abstufung2;
	}

	.cms_ladebox {
		border: 2px dashed @schattiertdunkel_abstufung2;
	}

	.cms_systemvoraussetzung {
		background: @schattiertdunkel_abstufung1;
	}
}
