@schriftgroesse: 13px;
@seitenbreite: 1000px;
@seitenhintergrund: #000000;
@kopfzeilenhintergrund: #0c4a95;
@hauptteilhintergrund: #ffffff;
@fusszeilenhintergrund: #000000;
@logofarbe: #0c4a95;
@schatten: #333333;
@button: #dddddd;
@buttonh: #aaaaaa;
@schriftbutton: #000000;
@schriftbuttonh: #ffffff;
@buttonkopfzeile: #ffffff;
@buttonkopfzeileh: #0c4a95;
@schriftbuttonkopfzeile: #0c4a95;
@schriftbuttonkopfzeileh: #ffffff;
@buttonfusszeile: #000000;
@buttonfusszeileh: #0c4a95;
@schriftbuttonfusszeile: #3399CC;
@schriftbuttonfusszeileh: #ffffff;
@schriftlink: #3399CC;
@schriftlinkh: #009966;
@schriftnotiz: #555555;
@schriftunscheinbar: #dddddd;
@absatzabstand: 7px;
@absatzabstandwebsite: 10px;
@brotkrumenabstand: 10px;
@standardhell: #dddddd;
@standarddunkel: #aaaaaa;
@erfolghell: #c7ff77;
@erfolgdunkel: #65ad00;
@fehlerhell: #f49461;
@fehlerdunkel: #ca4f0c;
@infohell: #94d1ff;
@infodunkel: #3399CC;
@warnunghell: #ffd95a;
@warnungdunkel: #d7a500;
@tabelleformular: #dddddd;
@formularfeld: #ededed;
@reiterinaktiv: #ededed;
@formularfeldfokus: #ffffff;

@schriftfarbedunkel: #000000;
@schriftfarbehell: #ffffff;
@themafarbe1: #0c4a95;
@themafarbe2: #009966;
@themafarbe3: #3399CC;
@hintergrundhell: #ffffff;
@hintergrunddunkel: #000000;
