// "out": "../css/stundenplanung.css", "sourcemap": "false", "compress": "true", "autoprefixer": "false"
@import "standard.less";

.cms_stundenplan_box {
  display: block;
  position: relative;
}

.cms_stundenplan_ueberschrift {
  position: absolute;
  display: inline-block;
  padding: 0px 1px 0px 1px;
}

.cms_stundenplan_spalte {
  position: relative;
  display: block;
  height: 100%;
  float: left;
  border-left: 1px solid @hintergrundhell;
  border-right: 1px solid @hintergrundhell;
}

.cms_stundenplan_spalte .cms_stundenplan_spaltentitel {
  position: absolute;
  top: 20px;
  font-weight: bold;
  line-height: 20px;
  height: 20px;
  color: @standarddunkel;
  display: block;
  text-align: center;
  padding: 0px 1px 0px 1px;
}

.cms_stundenplan_zeitliniebez {
  background: @standarddunkel;
  font-weight: bold;
  font-size: 150%;
  position: absolute;
  color: @schriftfarbehell;
  width: 35px;
  text-align: center;
  line-height: 100%;
  text-overflow: ellipsis;
  left: 0px;
}

.cms_stundenplan_zeitliniebeginn, .cms_stundenplan_zeitlinieende {
  width: 100%;
  display: block;
  position: absolute;
  border-top: 1px solid @standarddunkel;
}

.cms_stundenplan_zeitlinietext {
  font-weight: bold;
  font-size: 70%;
  position: absolute;
  padding: 3px;
  left: 35px;
  color: @standarddunkel;
  text-align: left;
}

.cms_stundenplan_zeitliniebeginn .cms_stundenplan_zeitlinietext {
  border-bottom-right-radius: 3px;
  top: 0px;
}

.cms_stundenplan_zeitlinieende .cms_stundenplan_zeitlinietext {
  border-top-right-radius: 3px;
  bottom: 0px;
}

.cms_vollbild {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 100%;
  background: @hintergrundhell;
  z-index: 5001;
  padding: 0px 0px 20px 0px;
  overflow-y: scroll;
}

.cms_stundenplanung_stundenfeld, .cms_stundenplan_stundenfeld {
  display: flex;
  height: 100%;
  position: absolute;
  top: 30px;
  width: 100%;
  transition: 250ms ease-in-out;
}

.cms_stundenplanung_markiert {
  background: @standardhell;
}

.cms_vplan_stunde_markiert {
  border: 2px dashed @standarddunkel;
}

.cms_stundenplanung_stundenfeld:hover {
  cursor: crosshair;
}

.cms_stundenplanung_stunde {
  display: inline-block;
  width: 100%;
  background: @standardhell;
  height: 100%;
  text-align: center;
  position: relative;
  opacity: .75;
  transition: 250ms ease-in-out;
  font-size: 75%;
  padding: 2px 0px;
}

.cms_stundenplan_stunde, .cms_stundenplan_stunde_entfall,
.cms_stundenplan_stunde_geloest, .cms_stundenplan_stunde_konflikt,
.cms_stundenplan_stunde_ueberschneidung, .cms_stundenplan_stunde_geaendert {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  font-size: 75%;
  padding: 2px 0px;
  overflow-y: hidden;
}

.cms_stundenplan_stunde {background: @standardhell;}
.cms_stundenplan_stunde_entfall {opacity: .5; border: 2px dashed @infohell;}
.cms_stundenplan_stunde_geloest {background: @infohell;}
.cms_stundenplan_stunde_geaendert {background: @erfolghell;}
.cms_stundenplan_stunde_konflikt {background: @fehlerhell;}
.cms_stundenplan_stunde_ueberschneidung {background: @warnunghell;}

.cms_stundenplan_stunde_rythmus {
  position: absolute;
  bottom: 0px;
  right: 3px;
  opacity: .25;
  color: #ffffff;
  font-size: 250%;
  font-weight: bold;
}

.cms_stundenplanung_stundeinfo {
  color: @schriftfarbehell;
  background: rgba(0, 0, 0, 0.75);
  padding: 0px 5px 0px 5px;
  position: absolute;
  font-family: 'robl';
  font-weight: normal !important;
  display: block;
  border-radius: 3px;
  z-index: 50;
  width: 100px;
  left: 0px;
  bottom: 10px;
  transition: 250ms ease-in-out;
  height: 0px;
  overflow: hidden;
  text-align: center;
  font-size: 90%;
  opacity: 0;
}

.cms_stundenplanung_stunde:hover .cms_stundenplanung_stundeinfo {height: auto; opacity: 1;}

.cms_stundenplanung_stunde:hover {opacity: 1;}

.cms_wochentag_rythmus, .cms_wochentag_rythmus_schulfrei,
.cms_wochentag_rythmus_ferien, .cms_wochentag_rythmus_leer {
  padding: 2px 5px;
  border-radius: 5px;
  display: inline-block;
  width: 40px;
  text-align: center;
  border: 2px solid @standarddunkel;
}

.cms_stundenplan_stunde_gewaehlt {
  border: 2px dotted @erfolgdunkel;
}

.cms_wochentag_rythmus_leer {background: @standardhell; border-color: @standardhell;}
.cms_wochentag_rythmus {background: @hintergrundhell;}
.cms_wochentag_rythmus_schulfrei {background: @infohell;}
.cms_wochentag_rythmus_ferien {background: @erfolghell;}

.cms_stundenplan_spaltentitel .cms_notiz {color: inherit !important;}

.cms_vplan_geloest {
  color: @infodunkel !important;
}

#cms_spalte_wochenplaene, #cms_spalte_konflikte, #cms_spalte_lehrer,
#cms_spalte_raeume, #cms_spalte_klassen {
  overflow: hidden !important;
}
