/css/*
/php/phpmailer/*
/php/schulhof/funktionen/config.php
/php/schulhof/funktionen/configBG.php
/php/schulhof/funktionen/configDSH.php
/php/schulhof/funktionen/configXYZ.php
/php/schulhof/funktionen/configbackup.php
/lehrerdateien/php/lehrerzimmer/funktionen/config.php
/lehrerdateien/php/lehrerzimmer/funktionen/configBG.php
/lehrerdateien/php/lehrerzimmer/funktionen/configDSH.php
/lehrerdateien/php/lehrerzimmer/funktionen/configXYZ.php
/lehrerdateien/php/lehrerzimmer/funktionen/configbackup.php
/lehrerdateien/dateien/*
/lehrerdateien/backup/*
/lehrerdateien/update/*
/res/logos/bglogo.png
/res/logos/bglogodruck.png
/res/logos/gfiilogo.png
/dateien
/prepared.php
/install.php
/fix.php
/encrypt.php
/cms_lehrerzimmer.sql
/cms_schulhof.sql
/cms_personen.sql
/GitFlow.md
*.DS_Store
/backup/*
/update/*
.tabnine_root
