RewriteEngine on
RewriteRule ^\.htaccess$ - [F]
RewriteRule ^aktualisiert.php$ [R=404,L]

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?URL=$1
</IfModule>

ErrorDocument 404 /Website/Fehler/404
ErrorDocument 403 /Website/Fehler/403
ErrorDocument 301 /Website/Fehler/301
ErrorDocument 302 /Website/Fehler/302
ErrorDocument 500 /Website/Fehler/500
